.navbar{
  background-color: #343a40;
  color:#f4faff;
  margin: 0;
  box-shadow: 1px 1px 10px grey;

}

.navbar-brand:first-child{
  padding-left: 1em;
  color:#f4faff;
}

ul{
  padding-right: 1em;
}
.nav-link:hover{
  color:#f4faff;
  background-color:rgb(134, 87, 187);
}
.nav-link{
  border-radius: 10px;
  margin: 10px;

}

.homeimage {
  width: 50px;

}
