<h1 class="title">Add Device</h1>


<div class="jumbotron text-center">
    <form [formGroup]="deviceForm" (ngSubmit)="save()">

        <div class="text-center">
            <label for="device-name">Device Name: </label><br>
            <input id="device-name" type="text" formControlName="deviceName" required />
            <br>
        </div>
        <div class="text-center">
            <label for="device-holder">Device Holder:</label><br>
            <input id="device-holder" type="text" formControlName="deviceHolder" required />
            <br>
        </div>
        <div class="text-center">
            <label for="phone-number">Phone Number: </label><br>
            <input id="phone-number" type="text" formControlName="phoneNumber"/>
            <br>
        </div>
        <input type="checkbox" id="nophone" name="nophone" formControlName="noNumber" value="Bike"><br>
        <label for="noNumber"> No phone number</label><br><br>

        <button class="text-center" type="submit" [disabled]="!deviceForm.valid">Save</button>
    </form>
</div>
