<br>
<h1 class="title">Register</h1>


<div class="jumbotron text-center">
    <form id="new-user" (ngSubmit)="save(); userForm.reset()" #userForm >
        <div class="text-center">
            <label for="First Name">First Name</label>
            <input [(ngModel)]="newUser.firstName" name="First Name" class="form-control" id="FirstName" type="text" required maxlength="30" #FirstName="ngModel" />
            <div class="alert" *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched)">
                <div *ngIf="FirstName.errors?.required">First Name is required</div>
                <div *ngIf="FirstName.errors?.maxlength">First Name cannot be more than 30 characters</div>
            </div>
        </div>
        <div class="text-center">
            <label for="Last Name">Last Name</label>
            <input [(ngModel)]="newUser.lastName" name="Last Name" class="form-control" id="LastName" type="text" required maxlength="30" #LastName="ngModel" />
            <div class="alert" *ngIf="LastName.invalid && (LastName.dirty || LastName.touched)">
                <div *ngIf="LastName.errors?.required">Last Name is required</div>
                <div *ngIf="LastName.errors?.maxlength">Last Name cannot be more than 30 characters</div>
            </div>
        </div>
        <div class="text-center">
            <label for="Email">Email</label>
            <input [(ngModel)]="newUser.email" name="Email" class="form-control" id="Email" type="text" required maxlength="50" #Email="ngModel" />
            <div class="alert" *ngIf="Email.invalid && (Email.dirty || Email.touched)">
                <div *ngIf="Email.errors?.required">Email is required</div>
                <div *ngIf="Email.errors?.maxlength">Email cannot be more than 50 characters</div>
            </div>
        </div>
        <div class="text-center">
            <label for="Password">Password</label>
            <input [(ngModel)]="newUser.password" name="Password" class="form-control" id="Password" type="password" required maxlength="50" #Password="ngModel" />
            <div class="alert" *ngIf="Password.invalid && (Password.dirty || Password.touched)">
                <div *ngIf="Password.errors?.required">Password is required</div>
                <div *ngIf="Password.errors?.maxlength">Password cannot be more than 10 digits</div>
            </div>
        </div>
        <div>
            <input class="btn btn-primary submit-button" type="submit" value="Save" style="margin-top: 5px;" />
        </div>
    </form>
</div>
